extends layout

block content
  #map
  #slider(style='display: none;')
  #satellite-toolbar(style='display: none;')
    #satellite-instruments
    #satellite-instrument-layers
  script(src='/js/Cesium.js')
  script(src='/js/tilling-scheme.js')
  script(src='/js/main.js')
  script(src='/js/satellite.js')
